{% extends 'menu_base.html' %}

{% block title %}
    Updates
{% endblock %}


{% block content %}
<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
   
    <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
              <br>
              <h4>Point Updates History</h4>
              <hr class="w3-clear">
              {% for i in all_point_updates %}
               <i> {{i.updated}} </i> <br>
                {{i.point_change}} Points from {{i.organization}} <br>
                 Updated By: {{i.updated_by.user}}<br> 
                Comment From: {{i.updated_by.user.first_name}} {{i.updated_by.user.last_name}}: " {{i.reason}} "
                <hr>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
  <!-- End Page Container -->
</div>
  <br>
  

{% endblock %}