{% extends 'menu_base.html' %}

{% block title %}
Home
{% endblock %}


{% block content %}

<body>

    <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"></div>
    <h3> Applications </h3>
    <hr>
    <h8> <i> Current application updates </i> </h8>
    <br><br>
    <table class="w3-table w3-bordered">
        <tr>
          <th><i> Sponsor </i> </th>
          <th> <i> Status </i> </th>
          <th> <i> Request </i></th>
        </tr>
        
        <!-- Each Table Row (Info per Sponsor) -->
        {% for orgs in all_orgs %}  
        <tr>
          <td>{{orgs}}</td>
          
          <!-- Loop through Applied to Orgs -->
          {% for i in applied_to %}
        
          {% if i.apply_to == orgs %}
            <!-- Status of Application -->
            {% if i.is_active == True and i.accepted == False %}
                <td> <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-clipboard-minus" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M5.5 9.5A.5.5 0 0 1 6 9h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z"/>
                  <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                  <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                </svg> <i> Pending </i> </td>
            {% elif i.is_active == False and i.accepted == False %}
                <td><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="red" class="bi bi-clipboard-x" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M6.146 7.146a.5.5 0 0 1 .708 0L8 8.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 9l1.147 1.146a.5.5 0 0 1-.708.708L8 9.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 9 6.146 7.854a.5.5 0 0 1 0-.708z"/>
                  <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                  <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                </svg><i> Rejected </i> </td>
            {% elif i.is_active == False and i.accepted == True %}
                <td><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="green" class="bi bi-clipboard-check" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                  <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                  <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                </svg> <i> Accepted </i> </td>
            {% endif %}

            <td>
                <input type="button" class="w3-button w3-white w3-border w3-round-large" value="Sent" disabled>
            </td>          
          
          {%endif%}

          {%endfor%}

          {% for x in not_applied_to %}
            {% if orgs == x %}
             <td> <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="blue" class="bi bi-clipboard-plus" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
              <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
              <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
            </svg> <i> Not Applied </i> </td>
             <td>
                <button type="button" id = "apply-button" data-index="{{orgs.id}}" method = "POST" class="w3-button w3-white w3-border w3-round-large apply-button"> Apply </button>
            </td>
            {%endif%}

            {%endfor%}
        </tr>
        {% endfor %}
        
    </table>
    </div> 
</body>

<script>
    $(document).on('click', '.apply-button', function (e) {
      e.preventDefault();
      
      $.ajax({
        type: 'POST',
        url: '{% url "send_request" %}',
        data: {
          org_id: $(this).data('index'),
          csrfmiddlewaretoken: "{{csrf_token}}",
          action: 'post'
        }
    
      });
      document.getElementById("apply-button").disabled = True
      location.reload()
    })
  
</script>
{% endblock %}