{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}




<div class="container-fluid">

    <form class="login-form p-4 rounded" method="post">
        {% csrf_token %}
        <p class="h3 mb-4 font-weight-bold">Create a new password</p>
        <p>Fill in the form below</p>

        {% if form.errors %}
        <div class="alert alert-primary" role="alert">
            Error: Please try again!
        </div>
        {% endif %}

        <label class="small font-weight-bold">{{ form.new_password1.label}}</label>
        {{ form.new_password1 }}
        <label class="small font-weight-bold">{{ form.new_password2.label}}</label>
        {{ form.new_password2 }}
        <ul>
            <li>Your password can’t be too similar to your other personal information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can’t be a commonly used password.</li>
            <li>Your password can’t be entirely numeric.</li>
        </ul>
        <button class="w3-button w3-white w3-border w3-round-large " type="submit" value="Change">Submit
        </button>
    </form>





    <p class="small text-center pt-4">
        <a href="{% url 'login' %}">Back</a>
    </p>
</div>
{% endblock %}