{% load i18n %}{% autoescape off %}
{% blocktranslate %}You're receiving this email because you forgot your password. If you did not request a password reset, disregard this email{% endblocktranslate %}

{% translate "Click the link to set a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate "Your login email is your same email" %}

{% translate "Thank you!" %}

{% blocktranslate %}Sincerely, Team 1 Good Driver Incentive Program{% endblocktranslate %}

{% endautoescape %}